
.icon-basket:before { content: '\e800'; } /* '' */
.icon-info-outline:before { content: '\e801'; } /* '' */
.icon-right-open-mini:before { content: '\e802'; } /* '' */
.icon-headphones:before { content: '\e803'; } /* '' */
.icon-info-circled-alt:before { content: '\f086'; } /* '' */
.icon-fb:before { content: '\f09a'; } /* '' */
.icon-right-circled:before { content: '\f0a9'; } /* '' */
.icon-lin:before { content: '\f0e1'; } /* '' */
.icon-tw:before { content: '\f173'; } /* '' */
.icon-pin:before { content: '\f231'; } /* '' */