/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

.icon-fb,
.icon-pin,
.icon-tw,
.icon-lin,
.icon-right-circled,
.icon-info-circled-alt, .icon-headphones, .icon-basket,.circles{//styling for icons
  font-size: 23px;
}
 button:hover{
   cursor: pointer;
 }
 button:focus{
   outline: none;
 }
.icon-fb,
.icon-pin,
.icon-tw,
.icon-lin,
.icon-right-circled{
  vertical-align: middle;
}
.title {
  display: none;
  img {
    width: 50px;
    height: 50px;
  }
}
//styling for icons
.icon-info-circled-alt, .icon-headphones, .icon-basket {
  width: 50px;
  height: 50px;
  color: #000000;
}

* {
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body {
  overflow-x: hidden;
}



//styling for header
.header {
  box-sizing: border-box;
  height: 120px;
  position: relative;
  z-index: 101;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  -webkit-justify-content: space-around;
  justify-content: space-around ;

}

.nav, .business, .col2, .col1, .col3 {
  list-style-type: none;
  vertical-align: top;
}

.name {
  font-size: 40px;
  line-height: 45px;
  font-style: italic;
  font-weight: bold;
}

.text {
  line-height: 25px;
  font-size: 17px;
}

.one, .two, .three {
  box-sizing: border-box;
  height: 400px;
  font-size: 16px;
}

.nav {
  margin-right: 75px;

  li {
    display: inline-flex;
    margin-top: 35px;
    margin-right: 20px;
  }
  a {
    line-height: 50px;
    height: 50px;

    color: #000000;
    text-decoration: none;
  }
}
.button{
  width: 220px;
  font-size: 14px;
  height: 55px;
  border-radius: 25px;
  line-height: 25px;
}
//stylesheet for section "one"
.one {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background-color:rgba(0, 0, 0, 0.05);
  .content {
    width: 990px;
    height: 300px;
    margin: auto 0 ;
    color: #831643;
  }
  .text {
    width: 700px;
    color: #464646;
    margin-top: 25px;
  }
  .pic {
    margin-right: -80px;
  }
  .button {
    padding-left: 5px;
    background-color: #831643;
    color: #FFFFFF;
    margin-top: 50px;
  }
}
//stylesheet for section "two"
.two {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background-color:rgba(30, 49, 80, 0.9);
  color: #F5F5F5;
  .pic {
    margin-top: -35px;
  }
  .content {
    width: 630px;
    margin: 0 auto;
    padding-top: 45px;
  }
  .text {
    width: 650px;
    margin-top: 20px;
  }
  .button {
    background-color: #1a74af;
    color: #FFFFFF;
    margin-top: 30px;
    vertical-align: top;
  }
  .icon-right-circled {
    margin-left: 40px;
  }
}
//stylesheet for section "three"
.three {
  flex: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background-image: url("../img/layer.png");
  background-repeat: repeat-x;
  .pic {
    margin-top: -45px;
    margin-right: -50px;
  }
  .content {
    margin-left: 60px;
    padding-top: 55px;
    width: 950px;
  }
  .text {
    padding-top: 25px;
    width: 680px;
    text-align: left;
  }
  .button {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #ff7700;
    color: #FFFFFF;
    margin-top: 50px;
    vertical-align: top;
    padding-left: 5px;
  }
}
//stylesheet for block "duni"
.duni {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: 450px;
  background-color:rgba(0, 0, 0, 0.05);
  .piece {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 1280px;
  }
  .content {
    vertical-align: top;
    width: 600px;
    padding-top: 55px;
    margin-left: 160px;
  }
  .text {
    padding-top: 20px;
    margin-bottom: 20px;
    color: #7f6565;
    width: 560px;
  }
  a {
    font-weight: bold;
    text-decoration: none;
    color: #ed1b2e;
  }

  .circles {
    line-height: 80px;
    text-align: center;
    vertical-align: middle;
    color: #FFFFFF;
    opacity: 0.8;
    margin-top: 50px;
    margin-right: 70px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #000000;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
  }
  .subscribe {
    margin-top: 20px;
    margin-right: 55px;
    display: inline-flex;
    font-weight: bold;
  }
  .planet {
    margin-left: 50px;
    height: 450px;
    width: 460px;
    background: url("../img/layer8.png") no-repeat;
    background-size: contain;
  }
}
//stylesheet for footer
.footer {
  box-sizing: border-box;
}

.all {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  width: 1200px;
  height: 350px;
  margin: 0 auto;
}

.col1 {
  width: 250px;
  margin-left: 120px;
  li {
    line-height: 25px;
  }}
.business{
  li {
    color: #8e8e8e;
  }
  a {
    text-decoration: none;
    color: #585858;
    line-height: 30px;
  }
}

.col2 {
  width: 300px;
  margin-left: 80px;
  li {
    line-height: 25px;
  }
  li a {
    margin-top: 30px;
  }
}
.col3 {
  width: 300px;
  height: 200px;
  margin-left: 100px;
  input {
    margin-top: 15px;
    width: 200px;
    height: 35px;
  }
  :focus::-webkit-input-placeholder {
    color: transparent;
  }

  button {
    padding: 0 20px;
    height: 39.5px;
    color: white;
    background-color: #000000;
    border: none;
  }
}
.social {
  margin-left: 10px;
  margin-top: 20px;
  list-style-type: none;
  li {
    margin-top: 30px;
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  a {
    line-height: 50px;
  }
  li:hover {
    background-color: #000000;
    opacity: 0.3;
  }
}
h4 {
  margin-top: 70px;
  color: #585858;
  font-size: 15px;
  padding-bottom: 20px;
}
//stysheet for mobile versions
@media (min-width: 751px) and (max-width: 1100px) {
  .nav, .logo {
    margin: 0;
  }
  .one {
    .button {
      margin-top: 30px;
    }
    .content {
      margin-left: 30px;
    }
    .pic {
      height: 400px;
      margin-right: -400px;
    }
  }
  .two {
    .content {
      margin-right: 30px;
      width: 450px;
    }
    .text {
      width: 400px;
    }
    .pic {
      margin-left: -220px;
      height: 440px;
    }
  }
  .three {
    .text {
      width: 500px;
    }
    .pic {
      height: 445px;
      margin-right: -350px;
    }
  }
  .duni {
    height: 600px;
    .text {
      box-sizing: border-box;
    }
    .piece {
      padding-top: 10px;
      box-sizing: border-box;
    }
    .planet {
      margin-right: -90px;
    }
    .planet .subscribe {
      margin-right: 17px;
    }
    .content {
      margin-left: 10px;
      width: 280px;
      margin-bottom: 30px;
    }
    .text {
      width: 280px;
    }
  }
  .container {
    display: flex;
    overflow: hidden;
  }
  .all {
    width: auto;
    margin: 0 auto;
  }
  .col1 {
    width: 22%;
    margin-left: 40px;
    padding-top: 0;
  }
  .col2 {
    padding-top: 0;
    margin-left: 40px;
    width: 23%;
  }
  .col3 {
    padding-top: 0;
    margin-left: 50px;
    width: 36%;
    input {
      margin-top: 15px;
      width: 160px;
      height: 35px;
    }
  }
}

@media (max-width: 751px) {//stysheet for mobile versions
  .container {

    overflow: hidden;
  }
  .header{
    .title {
      cursor: pointer;
    }
    .nav {
      background-color: #F5F5F5;
      margin: 0;
      display: none;
      top: 120px;
      height: 250px;
      position: absolute;
      z-index: 101;
      padding-top:30px;
      .topup {
        border-top: 2px solid #DCDCDC;
      }
      li {

        border-bottom: 1px solid #DCDCDC;
        display: flex;
        height: 70px;
        margin: 0;
        vertical-align: top;
      }
      a {
        line-height: 70px;
      }
      .icon-right-open-mini {
        padding-top: 25px;
        float: right;
      }
    }}
  .title {
    display: flex;
    margin: 30px;
  }
  .open .nav {
    display: block;
  }

  .logo {
    margin: 0;
  }
  .name {
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 20px;
    font-weight: bold;
  }
  .button{
    width: 130px;
    font-size: 8px;
    height: 55px;
    border-radius: 25px;
  }
  .one {
    .content {
      margin-left: 20px;
    }
    .pic {
      height: 400px;
      margin-right: -560px;
    }

  }
  .two {

    .pic {
      height: 440px;
      margin-left: -320px;
    }
    .icon-right-circled {
      margin-left: 20px;
    }
  }
  .three {
    .content {
      margin-left: 10px;
      line-height: 20px;
      width: auto;
    }
    .pic {
      height: 445px;
      margin-right: -440px;
    }
  }
  .content .text {
    font-size: 12px;
    width: 100%;
  }
  .duni {
    .content {
      line-height: 24px;
      width: 55%;
      margin-left: 20px;
    }
    .text {
      margin-top: 10px;
      width: 250px;
    }
    .planet {
      display: none;
    }
    .circles {
      display: none;
    }
    .subscribe {
      display: none;
    }
  }
  .all {
    width: 100%;
  }
  .col2, .col1 {
    display: none;
  }
  .col3 {
    margin: 0;
    text-align: center;
    width: 90%;
    input {
      margin-top: 15px;
      width: 140px;
      height: 35px;
    }
  }
}
//styling for menu
.fade{
  background: #000000;
  opacity: 0.5;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: none;
}